@font-face {
	font-family: 'FrauncesD';
	src: url('./fonts/Fraunces72pt-Regular.woff2') format('woff2');
	font-style: normal;
}
@font-face {
	font-family: 'FrauncesD';
	src: url('./fonts/Fraunces72pt-Italic.woff2') format('woff2');
	font-style: italic;
}


@font-face {
	font-family: 'Fraunces';
	src: url('./fonts/Fraunces9pt-Regular.woff2') format('woff2');
	font-style: normal;
}
@font-face {
	font-family: 'Fraunces';
	src: url('./fonts/Fraunces9pt-Italic.woff2') format('woff2');
	font-style: italic;
}


@font-face {
	font-family: 'PSans';
	src: url('./fonts/PublicSans-Regular.woff2') format('woff2');
	font-style: normal;
}
@font-face {
	font-family: 'PSans';
	src: url('./fonts/PublicSans-Italic.woff2') format('woff2');
	font-style: italic;
}

body {
	font-family: PSans;
	text-align: left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	font-weight: normal;
}

@media (max-width: 1400px) {
	body {
			max-width: 40em;
	}
}

@media (min-width: 800px) and (max-width: 1400px) {
	body {
			max-width: 40em;
	}
}

@media (min-width: 400px) and (max-width: 800px) {
	body {
			max-width: 75vw;
	}
}

@media (max-width: 400px) {
	body {
			max-width: 95vw;
			padding-left: 5%;
	}
}

p {
	font-size: 90%;
}

h1 {
	font-family: FrauncesD;
	line-height: 130%;
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-family: Fraunces;
	font-size: 120%;
	font-weight: normal;
	padding-top: 1em;
}

h3 {
	font-family: Fraunces;
	font-size: 110%;
}

main {
	font-size: 1.20em;
	line-height: 1.40em;
	font-weight: 300;
}

a {
	color: darkred;
	text-decoration-line: none;
}

blockquote {
	font-size: 80%;
	line-height: 1.15em;
	max-width: 12cm;
}

code {
	font-family: "Consolas";
	font-size: 1.15em;
}

nav {
	font-family: Fraunces;
	font-size: 95%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.4em;
}

.gototop {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
	text-align: center;
}

.langbutton {
	font-size: 95%;
 	text-align: right;
}
